<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Product</title>
    <style>
    </style>
</head>

<body>
    <%- include('./header.ejs') %>
    <% if (data.length > 0) { %>
    <center style="margin-top:35px;">
        <table>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Category ID</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i= 0; i < data.length;i++) { %>
                <tr>
                    <% start++ %>
                    <td><%= start %></td>
                    <td><%= data[i].PID %></td>
                    <td><%= data[i].PName %></td>
                    <td><%= data[i].CName %></td>
                    <td><%= data[i].CID %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </center>
    <br><br>
    <div class="pagination">
        <% for (let i = 0; i< (count / 10); i++ ) { %>
        <a href="/?p=<%= (i+1) %>"><%= (i+1) %></a>
        <% } %>
    </div>
    <% } else { %>
    <h1>No data Found</h1>
    <% } %>
</body>

</html>